<h2>Edit the celebrity</h2>
<form method="POST" action="/celebrities/{{ celebs.id }}">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="occupation" placeholder="occupation">
    <input type="text" name="catchPhrase" placeholder="catchphrase">
    <button>Edit</button>
</form>