<h2>Edit the movie</h2>
<form method="POST" action="/movies/{{ movies.id }}">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="plot" placeholder="Plot">
    <button>Edit</button>
</form>