<h2>Create a movie</h2>
<form method="POST" action="/movies">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="genre" placeholder="Genre">
    <input type="text" name="plot" placeholder="Plot">
    <button>Create</button>
</form>